<script>
    Vue.component('footer-html',{
        template: '<footer id="footer" class="">\
    <div class="footer-top">\
        <div class="col-12 col-md-4 col-lg-4 r-footer ml-auto">\
            <ul class="nav-footer d-block d-md-none">\
                <li class="menu-item menu-about">\
                    <a href="<?=$sub??'.'?>/gioi-thieu/">Giới thiệu</a>\
                </li>\
                <li class="menu-item menu-terms-conditions">\
                    <a href="<?=$sub??'.'?>/dieu-khoan-dieu-kien/">Điều khoản và điều kiện</a>\
                </li>\
                <li class="menu-item menu-privacy-policy">\
                    <a href="<?=$sub??'.'?>/chinh-sach-bao-mat/">Chính sách bảo mật</a>\
                </li>\
            </ul>                \
            <ul class="social-media">\
                <li>\
                    <a href="#" target="_blank">Facebook</a>\
                </li>\
                <li>\
                    <a href="#" target="_blank">Twitter</a>\
                </li>\
                <li>\
                    <a href="#" target="_blank">Instagram</a>\
                </li>\
            </ul>\
        </div>\
        <div class="col-12 col-md-8 col-lg-8 f-left">\
            <a class="navbar-brand logo" href="/">\
                <img src="/images/logo/logo-1.png" alt="logo" class="logo">\
            </a>\
            <div class="info-footer">\
                <div>\
                    <p>Cảm nhận những</p>\
                    <p>cung bậc cảm xúc của cuộc sống.!</p>\
                </div>\
                <div>\
                    <p>@2019 - leyen.life</p>\
                    <ul class="nav-footer">\
                        <li class="footer-item-hidden-mobile menu-item menu-terms-conditions">\
                            <a href="<?=$sub??'.'?>/dieu-khoan-dieu-kien/">Điều khoản và điều kiện</a>\
                        </li>\
                        <li class="footer-item-hidden-mobile menu-item menu-privacy-policy">\
                            <a href="<?=$sub??'.'?>/chinh-sach-bao-mat/">Chính sách bảo mật</a>\
                        </li>\
                        <li class="footer-item-hidden-mobile menu-item menu-about">\
                            <a href="<?=$sub??'.'?>/gioi-thieu/">Giới thiệu</a>\
                        </li>\
                    </ul>                \
                </div>\
            </div>\
        </div>\
    </div>\
</footer>'
    })
</script>