#about-page  {
    
}
#about-page .intro-page {
    overflow: initial;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
}

#about-page .cont-intro {
    padding-left: 0;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}
#about-page .cont-intro p {
    margin-bottom: 1rem;
}
#about-page .intro-page .name-page{
    position: relative;
}
#about-page .intro-page .name-page img{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    left: 0;
}
#about-page .page-content > .intro-page:hover .name-page img{

}

@media(max-width: 1366px){
    #about-page .intro-page .name-page{
        padding-right: 50px;
    }
}
@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
    #about-page .cont-intro {
        padding-left: 15px;
    }
    #about-page .intro-page .name-page {
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    
}