/* HOME PAGE */
.home_cursor,
.home_cursor_content{
}
.home_cursor {
    width: 109px;
    height: 109px;
    position: fixed;
    left: -54.5px;
    top: -54.5px;
    z-index: 10000;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}
.home_cursor_content {
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 17px;
    text-align: center;
    transform: scale(0);
    transition: transform .5s ease;
    border-radius: 50%;
    color: #f9f9f7;
    background-color: #262626;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}
.has-cursor .home_cursor.is-active {
    opacity: 1;
    transition: opacity .5s ease;
}
.has-cursor .home_cursor.is-active .home_cursor_content {
    transform: scale(1);
}
.has-cursor > .intro-page{
    cursor: none;
}

body.home {
    background: #ede8dd;
    color: #000;
    overflow: hidden;
}
body.home > footer#footer {
    display: none;
}

.home header#header ul.navbar-nav.nav-right {
    display: none;
}
.home header#header button.menu-store {
    margin-left: auto;
}

.home section.intro-page h5{
    font-weight: 500;
    font-size: 18px;
    color: #262626;
    margin: 0.67em 0;

    text-shadow: 2px 0 4px #ede8dd, -2px 0 4px #ede8dd, 0 2px 4px #ede8dd, 0 -2px 4px #ede8dd;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.home section.intro-page h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    width: 90%;
    text-align: center;
    text-shadow: 2px 0 4px #ede8dd, -2px 0 4px #ede8dd, 0 2px 4px #ede8dd, 0 -2px 4px #ede8dd;
    font-weight: 500;
    color: #262626;
    line-height: 1;
    font-size: clamp(20px,7vw,105px);
    transition: opacity 1.2s ease,visibility 1.2s ease;
}

.home section.intro-page h1 i.fa:hover{
    cursor: pointer;
    color: #fff;
    transition: 0.1s linear all;
}
.imgs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.frame-imgs{
    pointer-events: none;
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    display: grid;
    grid-template-columns: repeat(50,2%);
    grid-template-rows: repeat(50,2%);
}

a.skip-intro {
    font-weight: 700;
    display: inline-flex;
    text-transform: uppercase;
    color: var(--text-color-body);
    opacity: .3;
    text-decoration: none;

    font-size: 12px;
    letter-spacing: 1px;
    line-height: 19px;
    align-items: center;
    right: 30px;
    bottom: 25px;
    position: fixed;    
    transition:  0.5s linear opacity;
}
a.skip-intro:hover{
    opacity: 1;
}
.imgs {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
@media (max-width:991.98px) {
    .imgs {
        /* display: none; */
    }
}
.frame-imgs {
    pointer-events:none;
    position:absolute;
    width:110%;
    height:110%;
    top:-5%;
    left:-5%;
    display:grid;
    grid-template-columns:repeat(50,2%);
    grid-template-rows:repeat(50,2%)
}
.frame-imgs .pos-1 {
 grid-area:10/1/26/7;
}
.frame-imgs .pos-2 {
 grid-area:1/19/12/26
}
.frame-imgs .pos-3 {
 grid-area:1/36/14/42
}
.frame-imgs .pos-4 {
 grid-area:13/13/30/20
}
.frame-imgs .pos-5 {
 grid-area:17/32/32/38
}
.frame-imgs .pos-6 {
 grid-area:20/46/28/51
}
.frame-imgs .pos-7 {
 grid-area:34/1/51/10
}
.frame-imgs .pos-8 {
 grid-area:38/14/52/22
}
.frame-imgs .pos-9 {
 grid-area:40/26/51/32
}
.frame-imgs .pos-10 {
 grid-area:33/40/46/46
}
.frame-img-item {
    position:relative;
    opacity:0;
    transform-origin:center center;
    will-change:transform;
    transition: .8s transform ease-out, .5s opacity
}
.frame-img-item-img {
    position:absolute;
    width:100%;
    height:100%;
    -o-object-fit:contain;
    object-fit:contain;
}

/* END - HOME PAGE */


@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
    .home header#header {
        background: transparent;
    }
}
@media(max-width: 767px){
    .home section.intro-page h1{
        line-height: 1.3;
    }
    .home header#header ul.navbar-nav.nav-right {
        display: block;
    }
    .home section.intro-page h5{
        top: 70px;
    }
}