/* PODCAST PAGE */
section.new-podcast {
    margin: 132px 30px 0;
}
section.new-podcast > .row {
    align-items: end;
}
section.other-website .page-content {
    margin-top: 140px;
}

.new-podcast--img-media {
    position: relative;
}
.new-podcast--img-media > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-podcast--img-media .new-podcast--button{
    position: absolute;
    left: 14px;
    bottom: 14px;    
    overflow: hidden;
    border-radius: 100%;
}
.new-podcast--img-media .new-podcast--button .button{
    background: hsla(0,0%,100%,.5);
    opacity: .9;    
    transition: all .3s ease-in-out 0s;
}
.new-podcast--img-media .new-podcast--button .button:hover{
    background: hsla(0,0%,100%,.8);
    opacity: 1;  
    transition: all .3s ease-in-out 0s;
}
.new-podcast--img-media .new-podcast--button .button > img{
    margin-right: 0;
}
.new-podcast--img-media .new-podcast--button .button > img:hover{
    transform: scale(1.1);
    border: 1px solid #0000;
}


.new-podcast-media-caption {
    text-align: left;
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
}
.new-podcast--meta .new-podcast--button .button {
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 14px;
    color: var(--text-color-body);
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
}
.new-podcast--meta .new-podcast--button .button:hover{
    filter: invert(41%) sepia(42%) saturate(5468%) hue-rotate(135deg) brightness(99%) contrast(101%);
    /* color: var(--text-hover); */
    transition: 0.1s linear all; 
}
.new-podcast--meta .new-podcast--button .button > img,
.playlists-series .content-sec .playlist__play .button > img {
    width: auto;
    height: 15px;
    border-radius: unset;
    padding: 0;
    margin-right: 5px;
}
.new-podcast--meta .new-podcast--button .button > img:hover{
    border: unset;
}
.podcast-dropdown {
    margin-left: auto;
    position: relative;
}
.social-dropdown--button, .social-dropdown--menu, .social-dropdown--menu-wrapper {
    padding: 10px 20px 12px;
    border-radius: 19px;
    font-weight: 500;
    letter-spacing: .2px;
}

.only-item-share.share-socials {
    margin-left: auto;
    padding: 0;
}
.share-page.share-socials {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}
button.social-dropdown--button,
.only-item-share.share-socials a.facebook{
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,.3);
    line-height: 16px;
    background: none;
    border: none;
    padding: 10px 20px 12px;
    border-radius: 19px;
    box-shadow: -1px 1px 6px 0 rgb(0 0 0 / 0%);
    transition: 0.2s linear all; 
}
button.mini-play:hover, button.social-dropdown--button:hover{
    color: var(--text-hover);
}
button.social-dropdown--button:hover,
.only-item-share.share-socials a.facebook:hover{
    color: var(--text-hover);
    box-shadow: -1px 1px 6px 0 rgb(0 0 0 / 9%);
    transition: 0.2s linear all; 
}

.new-podcast--content {
    padding-bottom: 15px;
}
.new-podcast--text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
.new-podcast--subheading {
    font-size: 31px;
    letter-spacing: .2px;
    line-height: 38px;
    margin: 0;
    font-weight: 400;
}
.new-podcast--heading {
    font-size: 34px;
    letter-spacing: .2px;
    line-height: 1.3;
    margin: 0 0 20px;
    font-weight: 700;
    color: var(--text-body-color);
    transition:  0.3s linear all; 
}
.new-podcast--heading:hover{
    color: var(--text-hover);
    transition:  0.3s linear all; 
}
.new-podcast--author {
    font-size: 19.5px;
    letter-spacing: .1px;
    line-height: 1.5;
    margin: 0 0 20px;
}

.new-podcast--meta {
    display: flex;
    align-items: center;
    margin-top: 22px;
}
.new-podcast--meta > div{
    display: flex;
    align-items: center;
}
.story-meta {
    margin-left: 4px;
}
ul.story-meta--items {
    font-size: 12px;
    letter-spacing: .3px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    display: inline-flex;
    line-height: 1.17;
    color: #000;
}
li.story-meta--item {
    padding: 0 10px;
    position: relative;
}
ul.story-meta--items li.story-meta--item:not(:last-child)::before{
	content: "|";
    position: absolute;
    right: 0;
}
section.playlists-series {
    margin-bottom: 120px;
}
section.playlists-series .page-content {
    margin-top: 170px;
}
.playlists-series .content-sec {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    column-gap: 25px;
    row-gap: 40px;
}
.playlists-series .content-sec > .playlist .playlist--img {
    margin-bottom: 4px;
}
.playlists-series .content-sec > .playlist img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.playlists-series .content-sec > .playlist {
    padding: 15px;
    padding-bottom: 40px;
    box-shadow: none;
    background: #fff;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    transition: box-shadow .3s;
    position: relative;
}
.playlists-series .content-sec > .playlist:hover{
    box-shadow: -1px 1px 6px rgb(0 0 0 / 9%);
    transition: box-shadow .3s;
}
.playlists-series .playlist--title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    margin: 0 0 2px;
    letter-spacing: .2px;
    color: #000;
    transition:  0.1s linear all; 

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.playlists-series .playlist--title:hover{
    color: var(--text-hover);
    transition:  0.1s linear all; 
}
.playlists-series .playlist--meta {
    color: rgba(0,0,0,.3);
    font-size: 12.3px;
    letter-spacing: .2px;
    line-height: 16px;
}
.playlists-series .playlist--header {
    margin: 0 0 24px;
}
.playlists-series .content-sec > .playlist > .playlist--description{

}
.playlists-series .content-sec > .playlist > .playlist--description *{
    display: none;
}
.playlists-series .mini-play {
    position: relative;
    display: inline-flex;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 20px;
}
.playlists-series .mini-play .button {    
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 14px;
    color: var(--text-hover);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.playlists-series .content-sec .playlist__play .button > img{
    filter: invert(45%) sepia(94%) saturate(2800%) hue-rotate(128deg) brightness(92%) contrast(102%);
    border: unset;
}
.playlists-series .content-sec > .playlist:hover .mini-play{
    opacity: 1;
    transition: opacity .3s;
}
/* END - PODCAST PAGE */

@media(max-width: 768px){
    .playlists-series .title-sec {
        margin-bottom: 15px;
    }
    .playlists-series .content-sec{
        grid-template-columns: repeat(3,minmax(0,1fr));
        -moz-column-gap: 25px;
        column-gap: 25px;
    }
    .new-podcast--meta {
        flex-wrap: wrap;
    }
    .only-item-share.share-socials{
        width: 100%;
    }
}

@media(max-width: 767px){
    .playlists-series .content-sec{
        grid-template-columns: repeat(2,minmax(0,1fr));
        -moz-column-gap: 14px;
        column-gap: 14px;
        row-gap: 40px;
    }
    section.new-podcast {
        margin: 132px 15px 0;
    }
    .new-podcast--heading{
        font-weight: 700;
        font-size: 26px;
        margin: 0 0 7px;
    }
    .new-podcast--media {
        display: flex;
        flex-direction: column-reverse;
    }
    .new-podcast--img-media {
        margin-bottom: 14px;
    }
    .new-podcast--author{
        font-size: 16px;
        transition:  0.1s linear all; 
    }
    .new-podcast-media-caption {
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .1px;
        margin: 0 0 5px;
    }
    .new-podcast--text {
        font-size: 12px;
    }
    .playlists-series .content-sec > .playlist{
        box-shadow: -1px 1px 6px rgb(0 0 0 / 9%);
    }
    .playlists-series .mini-play{
        opacity: 1;
    }
    .only-item-share.share-socials{
        justify-content: center;
        margin-top: 40px;
    }
    .only-item-share.share-socials a.facebook{
        box-shadow: -1px 1px 6px 0 rgb(0 0 0 / 9%);
        transition: 0.2s linear all;
    }
    .only-item-share.share-socials a.facebook, a.facebook {
        width: 100%;
    }
}

@media (max-width: 930px) and (orientation: landscape){
    .playlists-series .content-sec{
        grid-template-columns: repeat(3,minmax(0,1fr));
        -moz-column-gap: 25px;
        column-gap: 25px;
    }
    .new-podcast--meta {
        flex-wrap: wrap;
    }
    .only-item-share.share-socials{
        width: 100%;
    }
}