body.post-detail-tho-page .progress-container {
    display: block!important;
}
body.post-detail-tho-page{
    background: #F9F9F7;
}
.detail-content-tho{
    min-height: 100vh;
    margin: 0;
}
.detail--banner{
    padding: 0;
}
.detail--banner img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.detail--info {
    padding: 200px 15px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.detail--title {
    font-size: 52px;
    font-weight: 900;
    text-align: center;
}
.detail--author {
    font-size: 22.8px;
    line-height: 32px;
    letter-spacing: .6px;
    margin: 0;
    font-weight: 500;
    font-style: italic;
} 
.detail--audio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px 0;
    padding: 5px;
}
.detail--button .button > img {
    border: 1px solid #c5c5c4;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.detail--button .button > img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.detail--description-button{
    font-size: 20px;
    line-height: 1;
    letter-spacing: .1px;
    font-weight: 500;
}
.detail--description-button p, .detail--content p{
    margin-bottom: 0;
}
.detail--description-button span {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .2px;
    opacity: .9;
}
.detail--date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .2px;
    padding-bottom: 3px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 8px;
    position: relative;
    border-bottom: 1px solid var(--text-color-body);
}
.detail--content {
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: .4px;
}
.detail--content audio {
    display: none;
}
section.detail--note {
    background: #fff; 
    padding: 45px 30px 45px 90px;
}
.detail--note-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.detail--note-title h3{
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 30px;    
    letter-spacing: .5px;
}
.detail--share.share-socials {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0;
}
.detail--note-content{
    padding: 0;
}
.detail--note-content h4 {
    text-transform: uppercase;
    font-weight: 700;
    display: inline;
    margin-right: 4px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
}
.detail--note-content p{
    font-weight: 500;
    opacity: .9;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: .2px;
    display: block;
}

section.new-post-tho {
    padding: 120px 30px 120px 90px;
    background: #fff;
}
#accordion-detail-tho{
    position: relative;
}
#accordion-detail-tho .card{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding-bottom: 0;
}
#accordion-detail-tho [id*='collapse-']{
    position: absolute;
    left: 0;
    height: auto;
    z-index: 99;
}
#accordion-detail-tho .card .card-body {
    padding: 0;
}
.new-post-tho--title{
    font-size: 20px;
    letter-spacing: .2px;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 0;
}
.new-post-tho .detail--info {
    padding: 0px;
}
.new-post-tho--content{
    padding-bottom: 200px;
}
.new-post-tho--content .detail--content{
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#accordion-detail-tho .card .card-header button{
    border-top: unset!important ;
    font-size: 20px;
    letter-spacing: .2px;
    cursor: unset;
}
#accordion-detail-tho .card .card-header button::after{
    content: unset;
}
#accordion-detail-tho .card .card-header button a{
    color: var(--text-color-body);
}
#accordion-detail-tho .card .card-header button a:hover {
    color: var(--text-hover);
}

#accordion-detail-tho .card .detail--container .detail--read a.read-detail {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 20px;
    border-bottom: unset;
    -webkit-transition:  0.1s linear all;
    -o-transition:  0.1s linear all;
    transition:  0.1s linear all; 
}
#accordion-detail-tho .card .detail--title{
    text-align: left;
}
#accordion-detail-tho .card .detail--info{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

@media (max-width: 1366px) {
    .detail--info{
        padding: 120px 15px 50px;
    }
    
}
@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
    .detail--info{
        padding: 100px 15px 50px;
    }
    section.detail--note {
        padding: 45px 15px;
    }
    .detail--note-title{
        margin-bottom: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-flow: column-reverse;
                flex-flow: column-reverse;
    }
    .detail--note-title h3{
        margin: 0 0 0px;
    }
    .detail--share.share-socials{
        margin: 0 0 30px;
    }
    .detail--note-content {
        padding-right: 15px;
        padding-left: 15px;
    }
    .new-post-tho--content {
        padding-bottom: 0;
    }
    #accordion-detail-tho [id*='collapse-']{
        display: none!important ;
    }
    .detail--title{
        font-size: 34px;
    }
}