body.post-detail-page .progress-container {
    display: block!important;
}
body.post-detail-page{
    background: #F9F9F7;
}
section.detail--banner {
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
section.detail--info {
    width: 100%;
    max-width: 684px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    margin:0 auto 130px;
}
.detail--title {
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 0;
}
.detail--button .button > img{
    border: 1px solid #c5c5c4;
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.detail--button .button > img:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.detail--note{
    padding: 0 30px 30px;
    width: calc(50vw - 342px);
    max-width: 684px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.detail--note > div{
    width: 100%;
}

.detail--audio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 22px;
    padding: 5px;
}
.detail--description-button{
    font-size: 20px;
    line-height: 1;
    letter-spacing: .1px;
    font-weight: 500;
}
.detail--description-button p{
    margin-bottom: 0;
}
.detail--description-button span {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .2px;
    opacity: .9;
}

.detail--author {
    font-size: 22.8px;
    line-height: 32px;
    letter-spacing: .6px;
    margin: 0;
    font-weight: 500;
    font-style: italic;
}
#detail--author-accordion .card-body {
    padding: 1.25rem 0;
}
.nguoi_dong_gop{

}
#collapse-card .row > div{
    padding-bottom: 16px;
}
.nguoi_dong_gop h4{
    text-transform: uppercase;
    font-weight: 700;
    display: inline;
    margin-right: 4px;
    font-size: 11.5px;
    line-height: 16px;
    letter-spacing: 1px;
}
.nguoi_dong_gop p {
    font-weight: 500;
    opacity: .9;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .2px;
    display: block;
}
#detail--author-accordion .card {
    border: unset;
    background: transparent;
}
#detail--author-accordion #heading-card {
    padding: 0;
    background: transparent;
    border: unset;
}
#detail--author-accordion button{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    font-family: GT America;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-body-color);
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    opacity: .3;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
#detail--author-accordion button:hover{
    opacity: .5;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
#detail--author-accordion .card-header button::after{
    content: "";
    width: 0;
    height: 0;
    margin-left: 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 8px 5px 0;
    border-top-color: #000;
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#detail--author-accordion .card-header button.collapsed::after{
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.detail--container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 684px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.detail--date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .2px;
    padding-bottom: 3px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 8px;
    position: relative;
    border-bottom: 1px solid var(--text-color-body);
}
.detail--content {
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: .4px;
    font-weight: 500;
}
.detail--content img, .detail--content .wp-video, .detail--content video {
    max-width: 100%;
    height: auto;
}

.detail--share.share-socials{
    position: sticky;
    bottom: 0;    
    width: 100%;
    z-index: 0;
}

.slider-new-post {
    background: #fff;
    padding: 130px 15px 0px 120px;
}
.slider-new-post .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}
.slider-new-post .title h4 {
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: .2px;
}
.slider-new-post .title .slide-control {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
}
.slider-new-post .title .slide-control > div {
    width: 30px;
    height: 32px;
    position: unset;
}
.slider-new-post .title .slide-control [class*="swiper-button-"]::after, .swiper-rtl [class*="swiper-button-"]::after{
    font-size: 20px;
    color: #000;
}
.slider-new-post .title .slide-control .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: '→';       
}
.slider-new-post .title .slide-control .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    content: '←';
}
.swiper-new-post{
    overflow: unset;
    padding-right: 176px!important;
}
.swiper-new-post > .swiper-wrapper{
}
.swiper-new-post .card{
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: unset;
}
.swiper-new-post .card a{
    display: inline-block;
    color: var(--text-body-color);
}
.swiper-new-post .card img {
    display: block;
    width: 100%;
    height: 410px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 10px;
}
h3.new-post--title {
    font-size: 23px;
    line-height: 1.3;
    letter-spacing: .3px;
    font-weight: 700;
    margin: 0 0 4px;
}
span.new-post--author {
    font-size: 22px;
    line-height: 1;
    letter-spacing: .3px;
    margin-bottom: 6px;
    font-weight: 400;
    font-style: italic;
}
.new-post--date {
    font-size: 12px;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .4px;
    opacity: .3;
}
.swiper-new-post .swiper-slide .new-post--info{
    padding-left: 0;
    -webkit-transition: padding-left .25s ease-in-out 0s;
    -o-transition: padding-left .25s ease-in-out 0s;
    transition: padding-left .25s ease-in-out 0s;
}
.swiper-new-post .swiper-slide:hover .new-post--info{
    padding-left: 5px;
    -webkit-transition: padding-left .25s ease-in-out 0s;
    -o-transition: padding-left .25s ease-in-out 0s;
    transition: padding-left .25s ease-in-out 0s;
}


@media(max-width: 1366px){
    section.detail--info{
        margin: 0 auto 10px;
    }
    .detail--note{
        margin: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    #detail--author-accordion button{
        margin: auto;
    }
    .detail--audio{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: center;
        margin-top: 66px;
        margin-bottom: 88px;
    }
    .detail--audio > div {
        width: 100%;
    }
    .detail--audio .detail--button{
        margin-bottom: 10px;
    }
}

@media(max-width: 1024px){
    .detail--note {
        width: 100%;
    }
}

@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
    .info-footer > div{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .info-footer ul.nav-footer{
        margin-left: 0;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .info-footer ul.nav-footer li{
        white-space: nowrap;
    }
}

@media(max-width: 767px){  
    .slider-new-post {
        padding: 80px 10px 100px;
    }
    .swiper-pagination{
        padding-left: 30px;
        padding-right: 30px;
        bottom: -50px!important;
    }
    .swiper-pagination > span.swiper-pagination-bullet {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto;
    }
    .swiper-pagination-clickable .swiper-pagination-bullet {
        background: #0000001a;
        height: 2px;
        border-radius: unset;
        margin: 0!important;
    }
    .swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background: #000;
    }
}
