/* PRINT PAGE */
body.print-page {

}    
.print-page__store-buttons{
    display: flex;
    margin-top: 28px;
}
.print-page__store-buttons a {
    border: 1px solid #ccc;
    color: #b2b2b2;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 16px;
    background-color: transparent;
    border-radius: 20px;
    display: inline-flex;
    padding: 10px 24px;
    margin: 0 14px 0 0;
    transition: color .3s,border-color .3s;
}
.print-page__store-buttons a:hover{
    border: 1px solid var(--text-hover);
    color: var(--text-hover);
}

section.show-blog-grid{

}
section.nghe-cung-yen .page-content {
    margin-top: 140px;
}
.blog-grid a.blog-item {
    display: flex;
    color: var(--text-color-body);
}
.blog-grid a.blog-item .blog-item--des  {
    width: calc(60% - 30px);
    margin-right: 30px;
    border-top: 1px solid #000;
    padding-top: 9px;
    transition:  0.1s linear all; 
}
.blog-grid a.blog-item .blog-item--img {
    width: 40%;
    transition:  0.1s linear all; 
}
.blog-grid a.blog-item .blog-item--img img {
    width: 100%;
    min-height: 520px;
    height: 100%;
    object-fit: cover;
    transition:  0.1s linear all; 
}
.blog-grid a.blog-item .blog-item--des .blog-item--name {
    font-size: 25px;
    letter-spacing: .5px;
    line-height: 1.3;
    margin: 0 0 30px;
    font-weight: 700;
    transition: 0.3s linear all; 
}
.blog-grid a.blog-item:hover .blog-item--des .blog-item--name{
    color: var(--text-hover);
    transition: 0.3s linear all; 
}
.blog-grid a.blog-item .blog-item--des .blog-item--short-description {
    font-size: 19.5px;
    letter-spacing: .2px;
    line-height: 28px;
}
.blog-grid a.blog-item .blog-item--des .blog-item--short-description * {
    text-align: left!important;
}
.blog-grid a.blog-item .blog-item--des .blog-item--short-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

/* Ẩn audio */
.blog-grid a.blog-item .blog-item--des .blog-item--short-description audio {
    display: none;
}

.blog-grid a.blog-item + a.blog-item {
    margin-top: 100px;
}


/* END - PRINT PAGE */

@media(max-width: 1366px){
    .blog-grid a.blog-item .blog-item--des{
        width: calc(40% - 30px);
        margin-right: 30px;
    }
    .blog-grid a.blog-item .blog-item--img {
        width: 60%;
    }
    .blog-grid a.blog-item .blog-item--des .blog-item--short-description{
        -webkit-line-clamp: 10;
    }
}

@media(max-width: 1024px){
    .blog-grid a.blog-item .blog-item--des{
        width: calc(50% - 30px);
        margin-right: 30px;
    }
    .blog-grid a.blog-item .blog-item--img {
        width: 50%;
    }
    .blog-grid a.blog-item .blog-item--img img{
        min-height: 450px;
        transition:  0.1s linear all; 
    }
    
}

@media(max-width: 768px){
    section.show-blog-grid .page-content {
        margin-top: 140px;
    }
    .blog-grid a.blog-item .blog-item--des{
        width: calc(60% - 30px);
        margin-right: 30px;
    }
    .blog-grid a.blog-item .blog-item--img {
        width: 40%;
    }
    .blog-grid a.blog-item .blog-item--img img{
        min-height: unset;
    }
}

@media(max-width: 767px){
    section.show-blog-grid .page-content {
        margin-top: 100px;
    }
    section.show-blog-grid .blog-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 52px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        align-items: start;
    }
    .blog-grid a.blog-item + a.blog-item {
        margin-top: 0;
    }
    .blog-grid a.blog-item > div {
        width: 100%!important;
    }
    .blog-grid a.blog-item .blog-item--des{
        border-top: 0px solid #000;
    }
    .blog-grid a.blog-item .blog-item--des .blog-item--short-description {
        display: none;
    }
    .blog-grid a.blog-item{
        flex-direction: column-reverse;
    }
    .blog-grid a.blog-item .blog-item--img img{
        height: 250px;
    }
    .blog-grid a.blog-item .blog-item--des .blog-item--name{
        font-size: 14px;
        letter-spacing: .3px;
        margin-bottom: 0;
    }
}

@media (max-width: 930px) and (orientation: landscape){
    section.show-blog-grid .page-content {
        margin-top: 140px;
    }
    .title-sec p{
        top: 0;
    }
    .blog-grid a.blog-item .blog-item--des{
        width: calc(60% - 30px);
        margin-right: 30px;
    }
    .blog-grid a.blog-item .blog-item--img {
        width: 40%;
    }
    .blog-grid a.blog-item .blog-item--img img{
        min-height: unset;
    }
}