/* CSS loading web - loading filter*/
.loadding-filter{
	position: absolute;	
	z-index: 1000000000000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 63px;
	background: #fff;
	text-align: center;
	display: flex;
	/* align-items: center; */
    justify-content: center;
}
.loadding-menu, .loadding-screen{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #F9F9F7;
	text-align: center;
	display: flex;
	align-items: center;
    justify-content: center;
}

.loadding-screen{
	position: fixed;
	z-index: 10000000000000;
	
}
.loadding-menu{
	position: absolute;
	z-index: 99999999;
}

.loadding-filter img{
	width: 100px;
	max-width: 50%;
	height: 100px;
	max-height: 50%;
}
.loadding-screen img, .loadding-menu img{
	width: 200px;
	max-width: 50%;
	height: 200px;
	max-height: 50%;
}

@keyframes loadding-on{
	0%{opacity:0;}
	100%{opacity:1}
}

@keyframes loadding-on-2{
  0%{opacity:1;}
  25%{opacity:0.5;}
  75%{opacity:1;}
  100%{opacity:0;}
}



/* Menu bootstraps offcanvas-active */
body.offcanvas-active{
	overflow:hidden;
}
.offcanvas-header{ 
	display:none; 
}

@media (max-width: 767px) {
	.offcanvas-header{ display:block; }
	.navbar-collapse {
		position: fixed;
		top: 59px; 
		bottom: 0;
		left: 100%;
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		overflow-y: auto;
		visibility: hidden;
		background-color: #fff;
		transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}
	.navbar-collapse.show {
		visibility: visible;
		transform: translateX(-100%);
	}
}
@media (min-width: 768px){
	.navbar-expand-lg .navbar-toggler {
		display: none;
	}	
	.navbar-expand-lg .navbar-collapse {
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-expand-lg .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
/* End - Menu bootstraps offcanvas-active */


/* Catch Scroll Progress Bar */
.progress-container, .progress-bar{
	height: 2px;
}
/* The progress container (grey background) */
.progress-container {
	width: 100%;
	background: #e5e5e5;
}
/* The progress bar (scroll indicator) */
.progress-bar {
	width: 0%;
	background: #000;
	transition: width .1s ease;
}
/* End - Catch Scroll Progress Bar */