/* FONT */
@font-face {
	font-family: GT America;
	src: url('../fonts/gtamerica/GT-America-Standard-Regular.woff') format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: GT America;
	src: url('../fonts/gtamerica/GT-America-Standard-Medium.woff') format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: GT America;
	src: url('../fonts/gtamerica/GT-America-Standard-Bold.woff') format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: GT America;
	src: url('../fonts/gtamerica/GT-America-Standard-Black.woff') format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: GT America Mono;
	src: url('../fonts/gtamerica/GT-America-Mono-Medium.woff2.woff') format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Courier Prime Sans;
	src: url('../fonts/courierprimesans/CourierPrimeSans-Regular.woff') format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-Light.woff') format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-Regular.woff') format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-Italic.woff') format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-Medium.woff') format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-MediumItalic.woff') format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-Bold.woff') format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-BoldItalic.woff') format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-ExtraBold.woff') format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Bradford;
	src: url('../fonts/bradford/BradfordLLWeb-ExtraBoldItalic.woff') format("woff");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: BradfordMono;
	src: url('../fonts/bradford/BradfordMonoLLWeb-Regular.woff') format("woff");
	font-display: swap;
}
@font-face {
	font-family: WindsorD-Bol;
	src: url('../fonts/windsor/WindsorD-Bol.woff') format("woff");
	font-display: swap;
}
/* END - FONT */


/* FONT font-family: 'Cormorant Garamond', serif; */
/* Menu main - sidebar */
button.menu-store,
#menu-sidebar .tab-pane .item .name-item,

/* Home page */
.home section.intro-page h1,

/* Post-detail */
body.post-detail-page .detail--title,
body.post-detail-page .detail--author,
body.post-detail-page .detail--content,
body.post-detail-page h3.new-post--title,
body.post-detail-page span.new-post--author,

/* Post-detail Thơ */
body.post-detail-tho-page .detail-content-tho .detail--content,
body.post-detail-tho-page .detail--note-title h3,
body.post-detail-tho-page .detail--info .detail--title,
/* Tên trang */
.name-page,
.blog-grid a.blog-item .blog-item--des .blog-item--name,

/* Trang Thơ */
#tho-page .blog-item--short-description,

/* Tiêu đề trang 404 */
.message-box h1

{
    /* font-family: 'Bradford';     */
    font-family: 'Source Serif Pro', 'Calistoga', serif;
}

body{
    /* font-family: GT America; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #fff;
    color: var(--text-color-body);
}

/* COLOR */
:root{
	--text-color-body: rgb(0 0 0);
	--text-hover: #00a95d;
}
/* END - COLOR */


html {
	scroll-behavior: smooth;
	/* scroll-snap-type: y proximity; */
}

section{
	scroll-snap-align: start;
	scroll-snap-stop: normal;  	
	overflow: hidden;
}


html, body{
    overflow: hidden;
    height: 100%;
}

body > .scroll-overlay{
    height: 100%;
    overflow: auto;
}

a svg, a img{
	-webkit-transition:  0.1s linear all;
	-o-transition:  0.1s linear all;
	transition:  0.1s linear all;
}

a:hover{	
    text-decoration: none;
}
a:hover svg, a:hover img{
	
}
li{
    list-style: none;
}
/* Delete outline default */
.btn.focus, .btn:focus, button:focus{
  outline: none!important ;
  box-shadow: none!important ;
}

#header-vuejs {
    z-index: 99;
    position: relative;
}
header#header {    
    background-position: top left;
    background-repeat: no-repeat;
    background-size: calc(100% - 17px) auto;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: 0.1s linear all; 
}
header#sub-header {
	background: #fff;
	position: fixed;
	top: -100px;
	left: 0;    
	visibility: hidden;
	transform: translateY(-50%);
	width: 100%;
	z-index: 9;
    border-bottom: 1px solid rgba(0,0,0,.2);
    transition: .3s ease-out 0s all; 
}
header#sub-header #menu-sidebar{
	display: none;
}

.header-top nav.navbar {    
	padding: 12px 20px 12px 20px;
    margin-right: 17px;
    transition: 0.1s linear padding; 
}
.header-top .nav-item a.nav-link, .navbar-dark .navbar-toggler, button.menu-store {
    color: var(--text-color-body);
    /* text-shadow: 2px 0 4px #ffffff85, -2px 0 4px #ffffff85, 0 2px 4px #ffffff85, 0 -2px 4px #ffffff85; */
    text-shadow: 2px 0 0px #ffffff85, -2px 0 0px #ffffff80, 0 2px 0px #ffffff80, 0 -2px 0px #ffffff80;
}
.header-top .nav-item a.nav-link, .navbar-dark .navbar-toggler {    
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	padding: 4px 0;
	margin: 0 12px;
	text-decoration: none;
	position: relative;
	transition:  0.1s linear all; 
}
.header-top .nav-item:hover a.nav-link, .header-top .nav-item.active a.nav-link,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: var(--text-color-body);
}
.header-top .nav-item a.nav-link::before {
	content: "";
	height: 1px;
	width: 100%;
	background: var(--text-color-body);
	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: transform .3s ease-out 0s;
}
.header-top .nav-item:hover a.nav-link::before, .header-top .nav-item.active a.nav-link::before {
	transform: scaleX(1);
}

.header-top ul.navbar-nav.nav-right{
	position: relative;
	margin-right: 23px;
	padding-right: 12px;
}
.header-top ul.navbar-nav.nav-right::after{
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 18px;
	background: var(--text-color-body);
	opacity: .1;
	transition: background .5s,opacity .5s;
}

.change-color{

}
.change-color .header-top .nav-item a.nav-link {
	opacity: .2;
	transition: opacity .6s linear 0s,color .5s;
}
.change-color .header-top .nav-item a.nav-link:hover {
	opacity: 1;
}

button.menu-store{
	font-weight: 900;
	font-size: 19px;
	letter-spacing: .1px;
	border: unset;
	background: transparent;
	min-width: 80px;
	transition:  0.5s linear color; 
}
button.menu-store:hover, button.menu-store:focus{
	color: var(--text-hover);
	outline: none;
	box-shadow: none;
	background: transparent;
}

body.scroll-fixed #sub-header, body #sub-header.scroll-fixed-fixed {
	top: 0;
	transform: translateY(0%);
	visibility: visible;
	transition: .3s ease-out 0s all; 
}

.page-content {
    margin-top: 215px;
    margin-right: 30px;
    margin-left: 88px;
}

.logo{    
    display: inline-block;
    background: #ffffff;
    border-radius: 100%;
    height: 40px;
    padding: 5px;
}
.logo-img {
	width: auto;
	height: 100%;
}
header#header #menu-sidebar{
	display: none;	
}
#menu-sidebar {
    position: fixed;
    background: #ffffff;
    width: 80vw;
    min-height: 400px;
    right: 0;
    border: 0;
    padding: 0px 0px 0px 20px;
    box-shadow: -4px 0 20px 0 rgb(0 0 0 / 20%);
}
#menu-sidebar > .frame-menu-sidebar {
    display: flex;
    flex-wrap: wrap;
}
#menu-sidebar .title-module{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.27;
    letter-spacing: .25px;
    color: var(--text-color-body);
    margin: 0 0 6px;
}
.module.search input{
    font-weight: 400;
    width: 100%;
    font-size: 17px;
    line-height: 1;
    letter-spacing: -.18px;
    color: var(--text-color-body);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 8px 14px 10px;
    display: block;
    -webkit-appearance: none;
}
.module.search input::placeholder{
	color: #00000029;
}
.module.search input:hover, .module.search input:focus-visible{
	border-color: var(--text-hover);
	outline: none!important;
}

/* Bộ lọc danh mục */
.module.filter {
    margin-top: 60px;
}
.module.filter .content-filter span{
    font-weight: 400;
    font-size: 11px;
    letter-spacing: .4px;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,.2);
    padding: 5px 7px 0px;
    cursor: pointer;
    position: relative;
    margin-right: 11px;
    margin-bottom: 9px;
    display: inline-block;
    transition:  0.1s linear all; 
}
.module.filter .content-filter span.active{
    color: var(--text-hover);
    border-color: var(--text-hover);
}
/* End - Bộ lọc danh mục */

.module.socials {
    position: absolute;
    bottom: 20px;
}
.module.socials a {
    width: 100%;
    float: left;
    text-transform: uppercase;
    color: var(--text-color-body);
    text-decoration: none;
    opacity: .3;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: opacity .3s;
}
.module.socials a:hover{
	opacity: 1;
}


#menu-sidebar .right-menu-sidebar .title-module, #menu-sidebar ul.nav.nav-tabs {
    position: absolute;
    top: 0px;
}
#menu-sidebar .right-menu-sidebar .title-module{
    padding-top: 40px;
    left: 0;
    z-index: 2;
}
#search-widget {
    position: relative;
}
#menu-sidebar ul.nav.nav-tabs {
	justify-content: flex-end;
    padding-bottom: 3px;
    padding-top: 35px;
    border-bottom: 1px solid #000;
    background: #fff; 
    z-index: 1;    
    width: calc(100% - 35px);
    transition: 0.1s linear all;
}
#menu-sidebar ul.nav.nav-tabs li{
	margin-left: 16px;
}
#menu-sidebar ul.nav.nav-tabs li > a{
	display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.27;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: var(--text-color-body);
    opacity: .2;
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: 0.15s linear all; 
}
#menu-sidebar ul.nav.nav-tabs li > a.active, #menu-sidebar ul.nav.nav-tabs li > a:hover{
	opacity: 1;
}

.left-menu-sidebar, .right-menu-sidebar{
	height: 100%;
}
.left-menu-sidebar{
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 20px;
    width: 25%;
}
.right-menu-sidebar {
    position: relative;
    padding-left: 0;
    width: 75%;
}
.right-menu-sidebar::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 122px;
    width: calc(100% - 15px);
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 17%,hsla(0,0%,100%,.7) 83%);
    pointer-events: none;
}

#menu-sidebar .tab-content {

}
#menu-sidebar .tab-content .tab-pane{
	overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 62px;
    padding-right: 20px;
}
#menu-sidebar .tab-content .tab-pane .search-result > strong {
    padding-top: 10px;
    display: block;
}
#menu-sidebar .tab-pane .item {
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-decoration: none;
    color: var(--text-color-body);
    transition: 0.3s linear all;
}
#menu-sidebar .tab-pane .item:hover{
	padding-left: 10px;
    transition: 0.3s linear all;
}
#menu-sidebar .tab-pane .item img {
    max-width: 115px;
    width: 115px;
    min-height: 90px;
    height: auto;
    margin: 0 15px 0 0;
    object-fit: cover;
    background-color: #f6f6f6;
}
#menu-sidebar .tab-pane .item .cont-item {
    flex: auto;
    position: relative;
}
#menu-sidebar .tab-pane .item .cat-item{
	font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    margin: 4px 0px;
}
#menu-sidebar .tab-pane .item .name-item{
	font-size: 19px;
    line-height: 1.3;
    letter-spacing: .23px;
    margin: 0 0 4px;
    font-weight: 700;
}
#menu-sidebar .tab-pane .item .author{
	font-size: 15px;
    letter-spacing: .19px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.2px;
    margin: 0;
}
#menu-sidebar .tab-pane .item .date{
    font-weight: 600;
    text-align: end;
    font-size: 10px;
    letter-spacing: .3px;
    line-height: 1;
    opacity: .2;
    transition: opacity .3s;
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
#menu-sidebar .tab-pane .item:hover .date{
	opacity: .6;
}

.intro-page {
    align-items: center;
}
.name-page {
    font-size: 54px;
    line-height: 1.3;
    text-align: left;
    font-weight: 900;
    letter-spacing: .5px;
    margin: 0;
}
.cont-intro {
    font-size: 23px;
    letter-spacing: .2px;
    line-height: 1.5;
    transition:  0.1s linear all; 
}
.cont-intro p{
    margin-bottom: 0;
}
footer#footer {
	background: #fff;
}
.footer-top{
    padding-top: 150px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
}
.footer-top .f-left {
    display: flex;
    align-items: center;
}
.footer-top .r-footer{
	align-items: flex-end;
    display: flex;
    justify-content: end;
}
.info-footer > div {
    display: flex;
}
.info-footer p{
    font-size: 12.3px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .2px;
    background: #fff;
    color: #000;
    margin: 0;
}
.info-footer div > p + p {
    margin-left: 5px;
}
.info-footer ul.nav-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 1;
}
.info-footer ul.nav-footer li{
    list-style: none;
    position: relative;
}
.info-footer ul.nav-footer li:hover a{
	opacity: 1;
	transition: 0.1s linear all; 
}
.info-footer ul.nav-footer li:not(:first-child){
    margin-left: 10px;
    padding-left: 10px;
}
.info-footer ul.nav-footer li:not(:first-child)::before{
	content: "|";
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .6;
    overflow: hidden;
    transition:  0.1s linear all; 
}
.info-footer ul.nav-footer a{
	font-size: 12.3px;
    margin-top: 0;
    opacity: .6;
    font-weight: 500;
    white-space: nowrap;
    color: var(--text-color-body);
}

ul.social-media {
    display: flex;
    margin: 0;
}
ul.social-media li{
	font-weight: 900;
	font-size: 12px;
    line-height: 16px;
    margin-left: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
ul.social-media li a{
	opacity: .3;
    color: var(--text-color-body);
    transition: opacity .3s;
}
ul.social-media li a:hover{
	opacity: .6;
}



.title-sec p {
    display: block;
    position: relative;
    top: -21px;
    font-size: 12.3px;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    text-transform: none;
    margin-bottom: 0;
}

.accordion-default{

}

.accordion-default .card {
    border: unset;
    background: transparent;
    border-radius: unset;
    padding-bottom: 37px;
}
.accordion-default .card .card-header {        
    border-bottom: 0px;
    background: transparent; 
    border-radius: 0px;
    padding: 0;
}

.accordion-default .card .card-header button{          
    padding: 5px 30px 0 0; 
    border-top: 1px solid #000!important ;
    font-size: 15.5px;
    line-height: 28.18px;
    letter-spacing: .2px;
    background: transparent;
    width: 100%;
    font-weight: 500;
    color: var(--text-color-body);
    border: none;
    text-align: left;
    position: relative;
    opacity: .3;
    border-radius: 0px;
    text-decoration: none;
    transition: opacity .3s;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:  0.1s linear all; 
}
.accordion-default .card .card-header button:not(.collapsed) {
    opacity: 1;
    transition:  0.1s linear all; 
}
.accordion-default .card .card-header button:hover{
    opacity: 1;
    transition: opacity .3s;
}
.accordion-default .card .card-header button::after{
    content: "";
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 8px 5px 0;
    border-top-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(180deg);
    transition: all .3s ease-in-out;
}
.accordion-default .card .card-header button.collapsed::after{
    -moz-transform: scaleY(-1) rotate(180deg);
    -o-transform: scaleY(-1) rotate(180deg);
    -webkit-transform: scaleY(-1) rotate(180deg);
    transform: scaleY(-1) rotate(180deg);
    filter: FlipV;
    -ms-filter: "FlipV";
    transition: 0.1s linear all;
}
.accordion-default .card .card-body{

}
.accordion-default .card .card-body > .row{
    align-items: flex-start;
}
.accordion-default .card .card-body a {
    display: flex;
    color: #b3b3b3;
    font-weight: 500;
    font-size: 12.3px;
    letter-spacing: .2px;
    line-height: 38px;
    border-bottom: 1px solid #ccc;
    transition: 0.3s linear all; 
}
.accordion-default .card .card-body a:hover{
    color: var(--text-color-body);
    transition: 0.3s linear all; 
}
.accordion-default .card .card-body a > div{
    flex: 0 0 50%;
}

/* Nghe cùng Yên - Audio trang Văn */
.accordion-default .title-post-audio{
    display: flex;
    align-items: center;
}
.accordion-default .card .card-body .des{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;

    padding-left: 60px;
}
.accordion-default .card .card-header button > div:not(:first-child){
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
}
.accordion-default .card .card-header button .title-post-audio{
    width: 50%;
}
.accordion-default .card .card-header button .title-post-audio a{
    color: var(--text-color-body);
    font-weight: 600;
    transition: 0.3s linear all; 
}
.accordion-default .card .card-header button .title-post-audio a:hover{
    color: var(--text-hover);
    transition: 0.3s linear all; 
}
.accordion-default .card .card-header button .author{
    width: 30%;
}
.accordion-default .card .card-header button .date{
    width: 15%;
}
.accordion-default .card .card-header button .time{
    width: 5%;
}

/* BUTTON PLAY/PAUSE */
p.button{
    margin-bottom: 0;
}
.button > img{
	padding: 8px;
    width: 53px;
    height: 53px;
    border-radius: 100%; 
    margin-right: 15px;
    border: 1px solid #0000; 
    cursor: pointer;
    transition: 0.3s linear all; 
}
.button > img:hover{
    border: 1px solid #000; 
    transition: 0.3s linear all; 
}

/* END - BUTTON PLAY/PAUSE */
/* AUDIO FIXED */

/* ẨN HÌNH, AUDIO, VIDEO TRONG MÔ TẢ NGẮN */
.accordion-default .card .card-body .des audio,
.accordion-default .card .card-body .des audio:not(.fixed-audio),
.detail--post .detail--content audio,
.detail--post .detail--content audio:not(.fixed-audio),
section.new-podcast .new-podcast--text audio,
section.new-podcast .new-podcast--text audio:not(.fixed-audio) {
    display: none;
}

.fixed-audio{
    display: block!important;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
}

/* END - AUDIO FIXED */


/* SLIDER SWIPER */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: auto; /* Cân bằng chiều cao */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* END - SLIDER SWIPER */

/* SOCIALS */
.share-socials {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.text-share { 
    color: #4691f5; 
    font-size: 34px; 
    overflow: hidden;  
    margin-right:10px;
}

a.facebook {
    box-shadow: -1px 1px 6px 0 rgb(0 0 0 / 9%);
    background: #fff;
    overflow: hidden;
    border-radius: 20px;
    padding: 0px 20px;
    font-weight: 500;
    letter-spacing: .2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
}
a.facebook *{
    font-size: 13px;
    color: #0000004d;
    transition:  0.1s linear all; 
}
a.facebook:hover *{
    color: var(--text-hover);
    transition:  0.1s linear all; 
}
a.facebook i {
    margin-right: 10px;
}
/* END - SOCIALS */

@media(min-width: 768px){
    .module.filter .content-filter span:hover{
        color: var(--text-hover);
        border-color: var(--text-hover);
    }
}

@media (min-width: 1400px){
    .row > * {
        max-width: 100%;
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

@media(max-width: 1024px){
    #menu-sidebar ul.nav.nav-tabs{
        width: calc(100% - 15px);
    }
    .left-menu-sidebar {
        width: 30%;
    }
    .right-menu-sidebar {
        width: 70%;
    }

    .info-footer > div{
        display: flex;
        flex-wrap: wrap;
    }
    .info-footer > div:last-child > p, .info-footer > div:last-child > ul {
        width: 100%;
    }
    .info-footer ul.nav-footer{
        margin-left: 0;
    }
    .button > img{
        border: 1px solid #c5c5c4;
    }

    .accordion-default .card .card-header button{
        opacity: 1;
        border-top: 1px solid #0000004d!important;
    }
    .accordion-default .card:first-child .card-header button{
        border-top: 1px solid #000!important;
    }
    .accordion-default .card .card-header button{
        font-size: 16px;
    }
    .accordion-default .card .card-header button .title-post-audio,
    .accordion-default .card .card-header button .author{
        width: 100%!important ;
    }
    .name-author-date-time {
        flex: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .accordion-default .card .card-header button .date,
    .accordion-default .card .card-header button .time{
        width: auto!important;
        font-size: 12px;
        letter-spacing: .4px;
        line-height: 21px;
        color: #b3b3b3;
        margin-right: 10px;
    }
    .accordion-default .card .card-header button .author {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .2px;
        margin-bottom: 3px;
        font-weight: 400;
    }

    .accordion-default .card{
        padding-bottom: 5px;
    }
    .accordion-default .card .card-header button::after{
        top: 25%;
        border-top-color: #0000004d;
    }
}

@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
    #menu-sidebar{
        width: 100vw;
    }
    .title-sec p{
        top: 0;
    }
    header#header {
        background: #fff;
    }
    .page-content{
        margin-right: 15px;
        margin-left: 15px;
    }
    section.intro-page .page-content {
        margin-top: 80px;
        transition:  0.1s linear all; 
    }
    .name-page, .cont-intro{
        text-align: center;
    }
    .name-page{
        margin-bottom: 15px;
        font-size: 36px;
    }
    .accordion-default .card:first-child .card-header button {
        border-top: none!important;
    }
    
}

@media(max-width: 767px){

    /* [112204HG] */
    header#header #menu-sidebar{
        display: block;  
    }

    /* [112201HG] Fixed loading-menu */
    header#header #menu-sidebar .loadding-menu {
        /* position: fixed; */
    }
    /* End - [112201HG] Fixed loading-menu */

    header#sub-header {
        border-bottom: 1px solid rgb(0 0 0 / 20%);
    }

    /* [112204HG] Ẩn menu tên các danh mục trên sub-header */
    header#sub-header #main_nav {
        display: none;
    }
    /* End - [112204HG] Ẩn menu tên các danh mục trên sub-header */

    #menu-sidebar{
        width: 100%;
        height: auto;
        background: transparent;
        padding: 0;
        box-shadow: unset;
        position: relative;
    }
    .left-menu-sidebar, .right-menu-sidebar {
        width: 100%;
        height: auto;
    }

    #search-widget {
        margin-top: -57px;
        z-index: 9;
        height: 420px!important;
    }

    .header-top ul.navbar-nav.nav-right {
        margin-right: 0;
        padding: 10px 5px 20px;
    }
    .header-top .nav-item a.nav-link, .navbar-dark .navbar-toggler {
        padding: 0;
        margin: 6px 0 20px;
        line-height: 1.3;
        width: fit-content;
    }
    #main_nav {
        padding-bottom: 10px;
    }
    #menu-sidebar .title-module {
        display: none;
    }
    .left-menu-sidebar {
        padding: 0 5px;
    }
    .right-menu-sidebar{        
        padding: 0;
        overflow: hidden;
    }
    .module.search input{
        font-size: 18px;
        padding: 8px 15px 10px;
    }
    .module.filter {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .module.filter .content-filter span{
        font-size: 14px;
        line-height: 1;
        letter-spacing: .5px;
        padding: 7px 8px 5px;
    }
    .module.socials{
        position: relative;
    }
    #menu-sidebar ul.nav.nav-tabs{
        padding-top: 0;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: unset;
        justify-content: space-around;
        position: relative;
    }
    #menu-sidebar ul.nav.nav-tabs li {
        margin-left: 0;
        flex: auto;
    }
    #menu-sidebar ul.nav.nav-tabs li > a{
        border-top: 1px solid transparent;
        border-bottom: 1px solid rgb(0 0 0);
        padding: 10px;
    }
    #menu-sidebar ul.nav.nav-tabs li > a.active, #menu-sidebar ul.nav.nav-tabs li > a:hover{
        border-bottom-color: transparent!important;
        border: 1px solid rgba(0,0,0,.2);
    }
    #menu-sidebar ul.nav.nav-tabs li:first-child > a, #menu-sidebar ul.nav.nav-tabs li:first-child > a{
        border-left-color: transparent;
    }
    #menu-sidebar ul.nav.nav-tabs li:first-child > a.active, #menu-sidebar ul.nav.nav-tabs li:first-child > a:hover{
        border-top: 1px solid rgba(0,0,0,.2);
        border-right: 1px solid rgba(0,0,0,.2);
    }
    #menu-sidebar ul.nav.nav-tabs li:last-child > a, #menu-sidebar ul.nav.nav-tabs li:last-child > a{
        border-right-color: transparent;
    }
    #menu-sidebar ul.nav.nav-tabs li:last-child > a.active, #menu-sidebar ul.nav.nav-tabs li:last-child > a:hover{
        border-top: 1px solid rgba(0,0,0,.2);
        border-left: 1px solid rgba(0,0,0,.2);
    }
    #menu-sidebar .tab-pane .item img {
        height: 106px;
        width: 76px;
    }
    #menu-sidebar .tab-pane .item .name-item{
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    #menu-sidebar .tab-pane .item .author {
        font-size: 13px;
    }
    #menu-sidebar .tab-pane .item .date {
        text-align: left;
        left: 0;
    }
    #menu-sidebar .tab-content .tab-pane{
        height: 370px;
        padding-top: 0;
    }
    #main_nav .footer-top{
        padding: 0;
        padding-top: 100px;
    }

    section.intro-page .page-content {
        margin-top: 60px;
    }
    .cont-intro{
        font-size: 18px;
    }
    .footer-item-hidden-mobile {
        display: none;
    }
    .footer-top{
        border-top: 1px solid rgba(0,0,0,.1);
        flex-direction: column;
        padding: 15px;
        padding-top: 150px;
    }
    .footer-top .r-footer{
        padding: 0;
        align-items: unset;
    }
    .footer-top .r-footer ul.nav-footer{
        width: 70%;
    }
    .footer-top .r-footer ul.social-media{
        width: 30%;
        display: flex;
        align-items: flex-end;
        align-content: end;
    }
    .footer-top .r-footer > ul {
        /* width: 50%; */
        padding: 0;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .footer-top .r-footer > ul > li {
        width: 100%;
        margin-bottom: 25px;
    }
    .footer-top .r-footer ul.social-media li {
        text-align: end;
        display: flex;
        justify-content: end;
        align-items: center;
        height: calc((100% / 4) - 25px);
    }

    .footer-top .r-footer ul.nav-footer li a{
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        padding: 5px 0;
        color:  var(--text-color-body) ;
    }
    .footer-top .f-left .logo{
        height: 53px;
    }
    .footer-top .f-left {
        margin-top: 130px;
        flex-direction: row-reverse;
        padding: 0;
    }
    .info-footer div > p + p {
        margin-left: 0;
    }
    .info-footer p{
        font-size: 12px;
    }
    .info-footer ul.nav-footer a{
        font-size: 10px;
    }
    .info-footer ul.nav-footer li:not(:first-child)::before{
        top: 50%;
        height: 12px;
    }

    .header-top nav.navbar {
        padding: 10px 15px;
    }
    .navbar-dark .navbar-toggler{
        font-weight: 500;
        margin: 0;
    }

    .name-author-date-time{
        justify-content: space-between;
    }
    .accordion-default .card .card-header button .date, .accordion-default .card .card-header button .time{
        margin-right: 0;
    }

    .accordion-default .card .card-header button .title-post-audio a{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}
