body.tho-page {
    background: #F9F9F7;
}
#tho-page section.intro-page {
    text-align: center;
    padding: 0 15px;
}
#tho-page section.intro-page .cont-intro {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1px;
    margin-top: 200px;
    margin-bottom: 13px;
}
#tho-page section.intro-page .name-page {
    text-align: unset;
    font-size: 110px;
    line-height: 120px;
    letter-spacing: -.7px;
    margin-bottom: 100px;
}
#tho-page section.intro-page .thumbnail-page {
    max-width: 600px;
    margin: auto;
}
section.show-blog-grid {
    margin-top: 200px;
}
section.show-blog-grid a.blog-item {
    /* min-height: 350px; */
    padding-left: 33px;
    padding-right: 33px;
    margin-bottom: 75px;    
    color: var(--text-color-body);

    pointer-events: none;
    display: inline-block;
    width: 100%;
}
.blog-item--thumbnail {
    padding: 0;
    width: 305px;
    margin-bottom: 10px;
}
.blog-item--info {
    pointer-events: auto;

    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .1px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: min-content; */
}
.blog-item--info .blog-item--author {
    font-weight: 400;
}
.blog-item--short-des{
    transition: opacity .8s ease-in-out 0s;
    opacity: 0;
    pointer-events: none;

    font-size: 55px;
    line-height: 1;
    padding: 0; 
}
.blog-item--short-des .blog-item--short-description{
    padding-top: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;    
}
a.blog-item:hover .blog-item--short-des{
    opacity: 1;
    pointer-events: auto;
}
.blog-item--short-description *{
    font-weight: 500!important;
}
.blog-grid a.blog-item:nth-child(1) .blog-item--info {
    margin-left: 150px;
}
.blog-grid a.blog-item:nth-child(2) .blog-item--info {
    margin-left: 70%;
}
.blog-grid a.blog-item:nth-child(3) .blog-item--info {
    margin-left: 380px;
}
.blog-grid a.blog-item:nth-child(4) .blog-item--info {
    margin-left: 60%;
}
.blog-grid a.blog-item:nth-child(5) .blog-item--info {
    margin-left: 150px;
}
.blog-item--read {
    font-size: 12px;
    font-weight: 900;
    text-transform:  uppercase; 
    line-height: 26px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 20px;
    transition: opacity .3s linear 0s,transform .3s ease 0s;
}
.blog-item--read:hover{
    opacity: .5;
}

@media(max-width: 768px), (max-width: 930px) and (orientation: landscape){
    #tho-page .intro-page {
        margin: 0;
    }
    #tho-page section.intro-page .thumbnail-page{
        padding: 0;
    }
    section.show-blog-grid a.blog-item{
        margin-bottom: 400px;
    }
    .blog-grid a.blog-item .blog-item--info {
        margin-left: 0!important ;
        padding: 0;
        width: 100%;
        transition:  0.1s linear all; 
    }
    .blog-item--short-des{
        opacity: 1;
        font-size: 34px;
        line-height: 1.3;
        pointer-events: auto;
    }
    .blog-item--short-des p{
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    section.show-blog-grid a.blog-item{
        padding: 0 15px;
    }
    .blog-item--short-des{
        font-size: 28px;
    }
}

#status-background {
    position: relative;
    z-index: -1;
}
#status-background::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: #F9F9F7;
  opacity: .3;
}

#status-background .bg-image{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-color: #F9F9F7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}